torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
accelerate==0.24.1
datasets==2.14.6
sentencepiece==0.1.99
transformers==4.34.1
evaluate >= 0.2.0
scipy
scikit-learn
protobuf
neptune-client
rouge
backoff
calflops